/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #fff !default;
$text-color: #1a1a1a !default;
$muted-text-color: mix(#fff, $text-color, 35%) !default;
$primary-color: #1a1a1a !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #2c5f8a !default;
$masthead-background-color: #9c5468 !default;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: mix(#000, #fff, 15%) !default;
$navicon-link-color-hover: mix(#000, $masthead-background-color, 15%) !default;

.masthead,
.greedy-nav {
  background: $masthead-background-color !important; // navigation partial loads after skin and sets its own background
}

.author__avatar img {
  max-width: 175px !important; // sidebar partial loads after skin and would otherwise reset this to 110px
  border: 4px solid $masthead-background-color !important; // sidebar partial loads after skin and sets border shorthand
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
